#body{
    background-color: rgb(168, 168, 168);
}
#titulo{
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
#allProd {
    color: black;
    border-radius: 20px;
    box-shadow: 3px 1px 5px 10px #ffffff60;
    padding: 20px 10%;
    background-color: rgb(255, 255, 255);
    width: 50%; /* Asegura que el contenedor ocupe el espacio disponible */
}


#prod {
    background-color: rgb(243, 239, 175);
    padding: 20px;
    box-shadow: 2px 2px 5px #ccc;
    width: 100%; /* Asegura que los productos ocupen el espacio de la columna */
}