#body{
    background-color: rgb(156, 156, 156);
}
#titulo{
    text-shadow: 0px 0px 10px rgb(17, 0, 255);
}
#allProd {
    box-shadow: 3px 1px 5px 10px #ffffff34;
    padding: 30px;
    background-color: rgba(255, 255, 255);
    border-radius: 20px;
    width: 100%; 
}

#prod {
    background-color: rgb(243, 239, 175);
    padding: 20px;
    box-shadow: 2px 2px 5px #ccc;
    width: 100%; 
}

#tabla{
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 1px 1px 20px 5px #ffffff;
}